PORT=8000
MONGO_URI=mongodb://localhost:27017/orbit-classes
RESEND_API_KEY=
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
